# Snapshot of MiraiMinds/voice-agents-backend src/docs/swagger.yaml
# Source commit: 201840575626423eca3527009867db7f82d9e100
# Keep the legacy API reference build independent of legacy API availability.
openapi: 3.0.3
info:
    title: Voice Agent by Mirai Minds
    version: 1.1.0
    description: |
        Build AI voice assistants that call your customers or handle inbound calls — no telephony expertise required.

        ## Authentication

        Every request (except `/health`) requires two headers:
        - `x-public-key` — your public key
        - `x-private-key` — your private key

        Workspace-scoped endpoints also need a `workspace` header with the workspace `_id` returned on onboarding.

        ## Entity Hierarchy

        ```
        Organization
        └── Workspace  (holds assistants + telephony numbers)
            └── Assistant
                ├── Telephony       (inbound + outbound phone numbers)
                ├── Knowledge Base  (documents + FAQ for RAG)
                └── Analysis Plan   (post-call AI evaluation)
        ```

        ## Quick Start (5 minutes)

        1. **Create a workspace** — `POST /v2/workspace/onboard/custom`
           → A default telephony number is auto-assigned in production.
        2. **Create an assistant** — `POST /v1/admin/assistant/create`
           → Use `variant.type: custom` and write your `agent.systemPrompt`.
        3. **Make a call** — `POST /v2/call/initiate`
           → Pass `callbackUrl` to receive real-time webhook events.

        See the **Onboarding** tag below for the full step-by-step guide.
    contact:
        name: API Architecture Team
        url: https://miraiminds.co
    license:
        name: Mirai Minds Proprietary License
        url: https://github.com/MiraiMinds/voice-agent-integration-specs/blob/main/LICENSE.md
servers:
    - url: https://api.voice-agents.miraiminds.co
      description: Production Server
    - url: https://api.stage.voice-agent.miraiminds.co
      description: Staging Server
    - url: http://localhost:3000
      description: Local Server

security:
    - PublicKeyAuth: []
      PrivateKeyAuth: []

# ----------------------------------------------------------------
# Shared example values — defined once here via YAML anchors,
# referenced as *alias wherever needed in path examples below.
# ----------------------------------------------------------------
x-shared-examples:
    abandonedCartVariables: &abandonedCartVariables
        - name: id
          type: string
          isRequired: false
        - name: abandonedCheckoutUrl
          type: string
          isRequired: true
        - name: customer
          type: object
          isRequired: true
          fields:
              - { name: firstName, type: string, isRequired: true }
              - { name: lastName, type: string, isRequired: false }
              - { name: email, type: string, isRequired: false }
              - { name: phone, type: string, isRequired: false }
        - name: totalDiscountSet
          type: object
          isRequired: false
          fields:
              - name: shopMoney
                type: object
                isRequired: false
                fields:
                    - { name: amount, type: string, isRequired: true }
        - name: totalLineItemsPriceSet
          type: object
          isRequired: true
          fields:
              - name: shopMoney
                type: object
                isRequired: true
                fields:
                    - { name: amount, type: string, isRequired: true }
        - name: subtotalPriceSet
          type: object
          isRequired: true
          fields:
              - name: shopMoney
                type: object
                isRequired: true
                fields:
                    - { name: amount, type: string, isRequired: true }
        - name: totalPriceSet
          type: object
          isRequired: true
          fields:
              - name: shopMoney
                type: object
                isRequired: true
                fields:
                    - { name: amount, type: string, isRequired: true }
        - name: lineItems
          type: array
          isRequired: true
          fields:
              - { name: title, type: string, isRequired: true }
              - { name: quantity, type: number, isRequired: true }
              - name: variant
                type: object
                isRequired: true
                fields:
                    - { name: id, type: string, isRequired: true }
                    - { name: title, type: string, isRequired: true }
        - name: note
          type: string
          isRequired: false
        - name: shippingAddress
          type: object
          isRequired: true
          fields:
              - { name: country, type: string, isRequired: true }
              - { name: address1, type: string, isRequired: true }
              - { name: address2, type: string, isRequired: false }
              - { name: city, type: string, isRequired: true }
              - { name: zip, type: string, isRequired: true }
              - { name: province, type: string, isRequired: true }

    abandonedCartCallInsightPlan: &abandonedCartCallInsightPlan
        callConnected:
            type: boolean
            description: 'You are a professional call status evaluator. Analyze the attached call recording and return true only if a live person answered and there was real two-way conversation. If the call went to voicemail, automated message, IVR, ring-tone, greeting, silence, or anything without a live response, return false. Output only true or false.'
            required: true
        customerEngaged:
            type: boolean
            description: 'You are a professional conversation engagement evaluator. Analyze the attached call recording and return true only if the customer did not disconnect abruptly at the beginning and continued engaging in the conversation for at least a few meaningful exchanges; otherwise return false. Output only true or false.'
            required: true

tags:
    - name: Onboarding
      description: |
          Create and configure a workspace. **Custom is the recommended path** for all non-Shopify integrations.

          ---

          ## Complete Onboarding Flow (Custom)

          ### Step 1 — Create a workspace

          ```bash
          curl -X POST https://api.voice-agents.miraiminds.co/v2/workspace/onboard/custom \
            -H "x-public-key: YOUR_PUBLIC_KEY" \
            -H "x-private-key: YOUR_PRIVATE_KEY" \
            -H "Content-Type: application/json" \
            -d '{
              "name": "Acme Support Line",
              "currencyCode": "USD",
              "timezone": "America/New_York",
              "supportContacts": {
                "phoneNumber": "+14155550100",
                "email": "support@acme.com"
              },
              "trustSignals": {
                "valuePropositionOneLiner": "Premium 24x7 AI support for Acme customers."
              }
            }'
          ```

          **Response:**
          ```json
          {
            "message": "Workspace onboarded successfully.",
            "data": {
              "_id": "6690a1b2c3d4e5f600000002",
              "name": "Acme Support Line",
              "variant": "custom"
            }
          }
          ```

          > **Auto-assigned number**: In production, every new workspace is automatically assigned a default telephony number. Check your assigned number via the Telephony APIs.

          ---

          ### Step 2 — Create an assistant

          Use the workspace `_id` from Step 1 as the `workspace` header value.

          ```bash
          curl -X POST https://api.voice-agents.miraiminds.co/v1/admin/assistant/create \
            -H "x-public-key: YOUR_PUBLIC_KEY" \
            -H "x-private-key: YOUR_PRIVATE_KEY" \
            -H "workspace: 6690a1b2c3d4e5f600000002" \
            -H "Content-Type: application/json" \
            -d '{
              "name": "Acme Support Assistant",
              "variant": { "type": "custom" },
              "agent": {
                "identity": { "name": "Priya", "gender": "female", "voice": "priya" },
                "systemPrompt": "You are Priya, a helpful support agent for Acme. The customer name is {{customerName}}. Resolve their issue politely and professionally."
              },
              "icpContext": { "language": "english" },
              "callSettings": {
                "slots": [{ "startTime": "09:00", "endTime": "18:00" }],
                "maxCallDuration": 300,
                "concurrentCallCount": 5,
                "retryProtocol": {
                  "maxAttemptsNoPickup": 2,
                  "maxAttemptsLowEngagement": 1,
                  "reAttemptPeriod": 300,
                  "maxRescheduleCount": 1
                }
              },
              "analysisPlan": {
                "successCriteriaPlan": "Return true only if the customer issue was fully resolved and the customer expressed satisfaction. Return false if they were still confused, unhappy, or escalated.",
                "summaryPlan": "Summarize the customer issue, the resolution provided, and the customer sentiment."
              }
            }'
          ```

          **Response:**
          ```json
          {
            "message": "Assistant created successfully",
            "data": { "assistantId": "69a57cdba3f3ab7e07cca1e4" }
          }
          ```

          > **Number auto-assignment**: The workspace default number is auto-assigned as `outbound` on the **first** assistant in the workspace. Additional assistants need numbers assigned explicitly via the `telephony` field in the create/update payload.

          ---

          ### Step 3 — (Optional) Purchase a dedicated inbound number

          Search for available numbers:
          ```bash
          curl "https://api.voice-agents.miraiminds.co/v1/number-pool/search?countryCode=US&limit=5" \
            -H "x-public-key: YOUR_PUBLIC_KEY" \
            -H "x-private-key: YOUR_PRIVATE_KEY" \
            -H "organization: YOUR_ORG_ID"
          ```

          Purchase it:
          ```bash
          curl -X POST https://api.voice-agents.miraiminds.co/v1/number-pool/purchase \
            -H "x-public-key: YOUR_PUBLIC_KEY" \
            -H "x-private-key: YOUR_PRIVATE_KEY" \
            -H "organization: YOUR_ORG_ID" \
            -H "Content-Type: application/json" \
            -d '{ "number": "+14155550101", "countryCode": "US", "numberType": "local" }'
          ```

          Assign to assistant (inbound = customers call in, outbound = caller ID for outgoing calls):
          ```bash
          curl -X PUT https://api.voice-agents.miraiminds.co/v1/admin/assistant/update/69a57cdba3f3ab7e07cca1e4 \
            -H "x-public-key: YOUR_PUBLIC_KEY" \
            -H "x-private-key: YOUR_PRIVATE_KEY" \
            -H "workspace: 6690a1b2c3d4e5f600000002" \
            -H "Content-Type: application/json" \
            -d '{
              "telephony": {
                "inbound": "6700a1b2c3d4e5f600000111",
                "outbound": "6700a1b2c3d4e5f600000222"
              }
            }'
          ```

          ---

          ### Step 4 — Make your first call

          ```bash
          curl -X POST https://api.voice-agents.miraiminds.co/v2/call/initiate \
            -H "x-public-key: YOUR_PUBLIC_KEY" \
            -H "x-private-key: YOUR_PRIVATE_KEY" \
            -H "workspace: 6690a1b2c3d4e5f600000002" \
            -H "Content-Type: application/json" \
            -d '{
              "phoneNumber": "+14155550200",
              "assistant": "69a57cdba3f3ab7e07cca1e4",
              "callbackUrl": "https://yourapp.com/webhooks/call-events",
              "payload": { "customerName": "Alex" }
            }'
          ```

    - name: Assistant
      description: |
          Assistants are the core of the platform. Each assistant has:
          - An **identity** (name, voice, gender)
          - A **systemPrompt** (the AI's instructions)
          - **Telephony** config (inbound/outbound numbers)
          - A **Knowledge Base** (documents + FAQ for RAG retrieval)
          - An **analysisPlan** (post-call AI evaluation)
          - **callSettings** (scheduling, retry logic, concurrency)

          ---

          ## Variant Types

          | Variant | Use case | systemPrompt |
          |---------|----------|--------------|
          | `custom` | Any use case you define | Required — you author it |
          | `abandoned_cart` | Shopify cart recovery | Auto-generated — leave empty |
          | `cod_to_prepaid` | Convert Shopify COD orders to prepaid | Auto-generated — leave empty |
          | `address_verification` | Verify or collect Shopify shipping addresses | Auto-generated — leave empty |
          | `order_confirmation` | Confirm Shopify orders before fulfillment | Auto-generated — leave empty |
          | `ndr_followup` | Follow up on failed delivery / NDR events | Auto-generated — leave empty |

          ## Using Preset Variants

          1. Create the assistant with `variant.type` set to the preset variant and leave `agent.systemPrompt` empty.
          2. Put preset configuration under `variant.config.<variant_type>`.
          3. Initiate calls with `payload` fields that match the variant input schema. Shopify order variants use Shopify order-like payloads; `ndr_followup` uses courier NDR data.

          Config quick reference:
          - `cod_to_prepaid`: requires `paymentLinkValidity`, `codFee`, and `supportContacts`.
          - `address_verification`: requires `minDays`, `maxDays`, and `supportContacts`.
          - `order_confirmation`: optional `supportContacts`.
          - `ndr_followup`: optional `maxRescheduleDays`, `webhookToken`, and `supportContacts`. Shiprocket can post NDR events to `POST /v1/shiprocket/ndr-webhook/{assistantId}`; when `webhookToken` is set, send the same value in `x-api-key`.

          ---

          ## Using the Knowledge Base (RAG)

          The knowledge base lets the assistant retrieve information from your uploaded documents and FAQ during a live call.

          ### 1. Upload a document
          See the **Knowledge Base** tag for the full 3-step upload flow. After upload + processing, you get a file URL.

          ### 2. Link to the assistant

          Pass the file URL under `knowledgeBase.documents` when creating or updating the assistant:

          ```json
          {
            "knowledgeBase": {
              "documents": [
                {
                  "url": "https://storage.miraiminds.co/kb/acme-product-catalog.pdf",
                  "title": "Product Catalog",
                  "type": "pdf"
                }
              ],
              "faq": [
                {
                  "question": "What is your return policy?",
                  "answer": "We offer a 7-day return policy for unused items in original packaging."
                },
                {
                  "question": "How long does shipping take?",
                  "answer": "Standard shipping is 3–5 business days."
                }
              ]
            }
          }
          ```

          ### 3. Tell the assistant to use it in systemPrompt

          ```
          You are Priya, a support agent for Acme.

          When a customer asks about products, pricing, policies, or shipping:
          1. Search the knowledge base first.
          2. Use the retrieved information to answer accurately.
          3. If you cannot find the answer, say: "I don't have that detail right now — let me connect you with a specialist."

          Never make up information that is not in the knowledge base.
          Always greet the customer as {{customerName}}.
          ```

          ---

          ## Using analysisPlan

          `analysisPlan` instructs the AI to evaluate each call after it ends. Results appear in the `end-of-call` webhook event and the call dashboard.

          | Field | Type | Purpose |
          |-------|------|---------|
          | `successCriteriaPlan` | string prompt | AI returns `true`/`false` — was the goal achieved? |
          | `summaryPlan` | string prompt | AI returns a plain-English summary of the call |
          | `callInsightPlan` | object | AI returns structured key/value insights you define |

          ### Example — Customer Support

          ```json
          {
            "analysisPlan": {
              "successCriteriaPlan": "Return true ONLY if the customer issue was fully resolved and they expressed satisfaction before ending the call. Return false if they were still confused, frustrated, or requested a callback to a human agent.",
              "summaryPlan": "Summarize: (1) the customer issue, (2) the solution provided, (3) customer sentiment (positive/neutral/negative), and (4) any follow-up action needed.",
              "callInsightPlan": {
                "issueResolved": {
                  "type": "boolean",
                  "description": "Was the customer issue fully resolved during the call?",
                  "required": true
                },
                "escalationRequested": {
                  "type": "boolean",
                  "description": "Did the customer ask to speak with a human agent?",
                  "required": true
                },
                "customerSentiment": {
                  "type": "string",
                  "description": "Overall customer sentiment at end of call",
                  "required": true,
                  "enum": ["positive", "neutral", "negative"]
                }
              }
            }
          }
          ```

          ### Example — Appointment Booking

          ```json
          {
            "analysisPlan": {
              "successCriteriaPlan": "Return true ONLY if an appointment was confirmed with a specific date and time agreed by both parties. Return false for all other outcomes.",
              "summaryPlan": "Summarize: the appointment date, time, service type, and any special instructions the customer provided.",
              "callInsightPlan": {
                "appointmentBooked": {
                  "type": "boolean",
                  "description": "Was an appointment successfully booked?",
                  "required": true
                },
                "appointmentDate": {
                  "type": "string",
                  "description": "The confirmed appointment date (format: YYYY-MM-DD)",
                  "required": false
                }
              }
            }
          }
          ```

          ---

          ## Inbound Calls

          To handle inbound calls, assign a telephony number to `telephony.inbound`. When a customer calls that number, the assistant answers automatically.

          ```json
          {
            "telephony": {
              "inbound": "6700a1b2c3d4e5f600000111",
              "outbound": "6700a1b2c3d4e5f600000222"
            }
          }
          ```

          > Each inbound number can only be assigned to **one** assistant at a time. Assigning it to a new assistant automatically removes it from the previous one.

    - name: Knowledge Base
      description: |
          Upload documents so your assistant can answer questions from its own knowledge during a call (RAG — Retrieval-Augmented Generation).

          **Supported file types:** PDF, TXT, DOCX, Markdown
          **Max file size:** 100 MB
          **Max chunk size:** 10 MB per chunk

          ---

          ## Upload Flow (3 steps)

          Files are uploaded in chunks to handle network interruptions gracefully.

          ### Step 1 — Start an upload session

          ```bash
          curl -X POST https://api.voice-agents.miraiminds.co/v1/knowledge-base/upload/start \
            -H "x-public-key: YOUR_PUBLIC_KEY" \
            -H "x-private-key: YOUR_PRIVATE_KEY" \
            -H "workspace: YOUR_WORKSPACE_ID" \
            -H "Content-Type: application/json" \
            -d '{
              "fileName": "product-catalog.pdf",
              "totalChunks": 1,
              "fileSize": 524288,
              "mimeType": "application/pdf"
            }'
          ```

          **Response:**
          ```json
          { "message": "Upload session created successfully.", "sessionId": "sess_abc123xyz" }
          ```

          ### Step 2 — Upload each chunk

          Repeat for each chunk (start at `chunkIndex: 0`):

          ```bash
          curl -X POST https://api.voice-agents.miraiminds.co/v1/knowledge-base/upload/chunk/sess_abc123xyz \
            -H "x-public-key: YOUR_PUBLIC_KEY" \
            -H "x-private-key: YOUR_PRIVATE_KEY" \
            -H "workspace: YOUR_WORKSPACE_ID" \
            -F "chunk=@product-catalog.pdf" \
            -F "chunkIndex=0"
          ```

          **Response:**
          ```json
          { "message": "Chunk uploaded successfully." }
          ```

          ### Step 3 — Complete the upload

          ```bash
          curl -X POST https://api.voice-agents.miraiminds.co/v1/knowledge-base/upload/complete/sess_abc123xyz \
            -H "x-public-key: YOUR_PUBLIC_KEY" \
            -H "x-private-key: YOUR_PRIVATE_KEY" \
            -H "workspace: YOUR_WORKSPACE_ID"
          ```

          **Response:**
          ```json
          {
            "message": "Upload completed. Processing has started in the background.",
            "sessionId": "sess_abc123xyz",
            "knowledgeBaseId": "6701a1b2c3d4e5f600000050",
            "knowledgeBaseStatus": "processing"
          }
          ```

          Processing is asynchronous. Poll `GET /v1/knowledge-base/files/{knowledgeBaseId}` until `status` is `ready`, then link the file to your assistant.

          ---

          ## What to Write in systemPrompt to Trigger Knowledge Base Retrieval

          ```
          You are a support agent for Acme.

          When a customer asks about products, pricing, policies, or shipping:
          1. Search the knowledge base first.
          2. Answer using only information found in the knowledge base.
          3. If the answer is not in the knowledge base, say:
             "I don't have that detail right now — let me connect you with a specialist."

          Never make up information. Always be accurate.
          ```

    - name: Telephony
      description: |
          Manage phone numbers for outbound and inbound calls.

          - **Outbound**: caller ID used when the assistant places a call to a customer
          - **Inbound**: the number customers dial to reach the assistant

          ---

          ## Using an Existing (Auto-Assigned) Number

          Every new workspace gets a default telephony number assigned automatically in production. Retrieve it and assign it to your assistant's `telephony.outbound` or `telephony.inbound`.

          ---

          ## Purchasing a New Number and Assigning to an Assistant

          ### Step 1 — Search available numbers

          ```bash
          curl "https://api.voice-agents.miraiminds.co/v1/number-pool/search?countryCode=US&numberType=local&limit=5" \
            -H "x-public-key: YOUR_PUBLIC_KEY" \
            -H "x-private-key: YOUR_PRIVATE_KEY" \
            -H "organization: YOUR_ORG_ID"
          ```

          **Response:**
          ```json
          {
            "data": [
              { "number": "+14155550101", "countryCode": "US", "numberType": "local", "monthlyRateCents": 100 },
              { "number": "+14155550102", "countryCode": "US", "numberType": "local", "monthlyRateCents": 100 }
            ]
          }
          ```

          ### Step 2 — Purchase a number

          ```bash
          curl -X POST https://api.voice-agents.miraiminds.co/v1/number-pool/purchase \
            -H "x-public-key: YOUR_PUBLIC_KEY" \
            -H "x-private-key: YOUR_PRIVATE_KEY" \
            -H "organization: YOUR_ORG_ID" \
            -H "Content-Type: application/json" \
            -d '{
              "number": "+14155550101",
              "countryCode": "US",
              "numberType": "local"
            }'
          ```

          **Response** (contains `_id` for use in assistant `telephony`):
          ```json
          {
            "data": {
              "_id": "6700a1b2c3d4e5f600000111",
              "number": "+14155550101",
              "status": "active"
            }
          }
          ```

          ### Step 3 — Assign to an assistant

          Use the `_id` from Step 2:

          ```bash
          curl -X PUT https://api.voice-agents.miraiminds.co/v1/admin/assistant/update/YOUR_ASSISTANT_ID \
            -H "x-public-key: YOUR_PUBLIC_KEY" \
            -H "x-private-key: YOUR_PRIVATE_KEY" \
            -H "workspace: YOUR_WORKSPACE_ID" \
            -H "Content-Type: application/json" \
            -d '{
              "telephony": {
                "inbound": "6700a1b2c3d4e5f600000111",
                "outbound": "6700a1b2c3d4e5f600000222"
              }
            }'
          ```

          > **Inbound exclusivity**: Each inbound number can only be held by one assistant at a time. Assigning it to a new assistant automatically removes it from the previous one.

    - name: Call
      description: |
          ## Outbound Calls

          Use `POST /v2/call/initiate` to trigger an outbound call to a customer. The assistant calls the number, runs the conversation, and fires webhook events to your `callbackUrl`.

          ---

          ## Inbound Calls

          Assign a telephony number to `telephony.inbound` on an assistant. When a customer dials that number, the assistant picks up automatically. No API call required — just the number assignment.

          ```
          Customer dials +14155550101
              → Number is linked to "Acme Support" assistant
              → Assistant picks up and follows its systemPrompt
              → Call events fire to your callbackUrl (if configured)
          ```

          ---

          ## Webhook Events Reference

          Register a `callbackUrl` on `POST /v2/call/initiate` to receive real-time call events.

          ### Event Payload Shape

          ```json
          {
            "event": {
              "type": "<event-type>",
              "data": { ... }
            }
          }
          ```

          ### Call Lifecycle Events

          | Event | When | What to do |
          |-------|------|-----------|
          | `call.initiate` | Call has been queued | Log that the call started |
          | `call.in-progress` | Customer answered, conversation started | Start session timer |
          | `call.ended` | Call hung up, analysis running | Update call record to pending |
          | `call.completed` | Call done + analysis complete | Read `analysis.success` and `analysis.summary` |
          | `call.timeout` | Call exceeded `maxCallDuration` | Flag for manual review |
          | `call.failed` | Network/telephony error | Retry or alert your team |
          | `call.busy` | Customer line was busy | Schedule retry |
          | `call.no-answer` | Rang with no answer | Schedule retry |
          | `call.skip` | Call skipped (outside allowed hours, etc.) | Log and continue |
          | `call.rescheduled` | Customer asked to be called back | Wait for next attempt |
          | `call.aborted` | Call cancelled via `/v2/call/abort` | Stop tracking |
          | `call.validation-failed` | Payload validation failed before calling | Fix payload and resubmit |
          | `call.lifecycle-ended` | All retries exhausted — call is permanently done | Final status update |
          | `end-of-call` | Same as `call.completed` with full analysis included | Primary event for reading results |
          | `action` | Assistant triggered a business action mid-call | Execute the action in your system |

          ### `end-of-call` Payload Example

          ```json
          {
            "event": {
              "type": "end-of-call",
              "data": {
                "call": {
                  "id": "call_6701abc123",
                  "status": "completed",
                  "startedAt": "2026-06-30T10:00:00.000Z",
                  "endedAt": "2026-06-30T10:05:32.000Z",
                  "durationSeconds": 332,
                  "recordingUrl": "https://storage.miraiminds.co/.../recording.wav",
                  "detailUrl": "https://app.miraiminds.co/calls/call_6701abc123"
                },
                "analysis": {
                  "success": true,
                  "summary": "Customer called about a delayed order. Issue resolved — package was confirmed dispatched. Customer was satisfied.",
                  "insights": {
                    "issueResolved": true,
                    "escalationRequested": false,
                    "customerSentiment": "positive"
                  },
                  "outcome": {
                    "shouldUpdateAddress": true,
                    "confirmAddress": false,
                    "updatedAddressProvided": true,
                    "updatedAddress": { "address1": "507, Nemli Complex", "city": "Surat", "province": "Gujarat", "country": "India", "zip": "395007" }
                  }
                },
                "credits": {
                  "used": 2.5,
                  "available": 97.5
                }
              }
            }
          }
          ```

          ### `action` Event Payload Example

          ```json
          {
            "event": {
              "type": "action",
              "data": {
                "action": "create_order",
                "call": { "id": "call_6701abc123" },
                "payload": {
                  "email": "alex@example.com",
                  "phone": "+14155550200",
                  "lineItems": [{ "title": "Blue Sneakers", "quantity": 1 }],
                  "cartTotal": 99.99
                }
              }
            }
          }
          ```

          **Available action types:** `create_order`, `send_whatsapp`, `mark_prepaid`, `update_address`, `confirmed_address`

    - name: Setting
      description: Platform health and maintenance status.

    - name: Organization
      description: Archive and unarchive organizations and workspaces.

    - name: Voice Gallery
      description: List available AI voices for use in assistant configuration.

    - name: Showcase
      description: Real call recordings and use-case flow demos.

paths:
    /health:
        get:
            summary: platform health status
            operationId: getHealthMonitor
            description: >
                Returns whether the platform is currently under maintenance. No authentication required.
            tags:
                - Setting
            responses:
                '200':
                    description: Platform health status
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status_code:
                                        type: integer
                                        example: 200
                                    message:
                                        type: string
                                        example: Platform is operational.
                                    data:
                                        type: object
                                        properties:
                                            underMaintenance:
                                                type: boolean
                                                example: false
                                            status:
                                                type: string
                                                example: healthy

    /v2/workspace/onboard/custom:
        post:
            summary: Onboard a custom workspace
            operationId: onboardCustomWorkspace
            description: >
                Creates a new **custom** workspace under the authenticated organization.
                Use this where you build assistants from scratch
                with your own system prompts and variables. The organization is resolved from
                the public/private key pair. A default outbound telephony number is auto-assigned
                in production.
            tags:
                - Onboarding
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CustomOnboardingRequest'
                        example:
                            name: 'Acme Support Line'
                            currencyCode: USD
                            timezone: 'America/New_York'
                            supportContacts:
                                phoneNumber: '+14155550100'
                                email: 'support@acme.com'
                            trustSignals:
                                valuePropositionOneLiner: 'Premium 24x7 customer support for Acme products.'
            responses:
                '200':
                    description: Workspace onboarded successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        example: Workspace onboarded successfully.
                                    data:
                                        $ref: '#/components/schemas/Workspace'
                            example:
                                message: Workspace onboarded successfully.
                                data:
                                    _id: '6690a1b2c3d4e5f600000002'
                                    name: 'Acme Support Line'
                                    slug: 'acme-support-line'
                                    organization: '6690a1b2c3d4e5f600000001'
                                    variant: custom
                                    currencyCode: USD
                                    timezone: 'America/New_York'
                                    supportContacts:
                                        phoneNumber: '+14155550100'
                                        email: 'support@acme.com'
                                    createdAt: '2026-06-18T10:00:00.000Z'
                '400':
                    description: Validation Error or organization is archived
                '403':
                    description: Stand-alone organizations cannot create new workspaces
                '409':
                    description: Workspace already exists

    /v2/workspace/onboard/shopify:
        post:
            summary: Onboard a Shopify store (Shopify merchants only)
            operationId: initializeWorkspace
            description: >
                Shopify-specific onboarding. Uploads the store's identity, trust metrics, and policies.
                Returns the Workspace ID and Billing Configuration.

                **For all other integrations, use `POST /v2/workspace/onboard/custom` instead.**
            tags:
                - Onboarding
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/OnboardingRequest'
            responses:
                '201':
                    description: Workspace Created & Billing Configured
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/OnboardingResponse'
                '400':
                    description: Validation Error

    /v1/admin/assistant/get/{assistantId}:
        get:
            summary: Get AI Assistant
            operationId: adminGetAssistant
            description: >
                Fetches a single assistant by ID. Returns the full internal assistant configuration
                including variant config, agent identity, callSettings, analysisPlan, and knowledgeBase.
            tags:
                - Assistant
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
                - $ref: '#/components/parameters/WorkspaceHeader'
                - name: assistantId
                  in: path
                  required: true
                  schema:
                      type: string
            responses:
                '200':
                    description: Assistant fetched successfully
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AssistantAdminGetResponse'
                            example:
                                message: Assistant fetched successfully
                                data:
                                    _id: '69a57cdba3f3ab7e07cca1e4'
                                    name: 'My Abandoned Cart Assistant'
                                    variant:
                                        type: abandoned_cart
                                        config:
                                            inputSchema: *abandonedCartVariables
                                            abandoned_cart:
                                                paymentPlan:
                                                    mode: online
                                    agent:
                                        identity:
                                            name: neha
                                            gender: female
                                            voice: neha
                                        systemPrompt: ''
                                    icpContext:
                                        targetAgeGroups: [millennials]
                                        locationTiers: [metro_urban]
                                        language: english
                                        targetAudience: [female]
                                    callSettings:
                                        slots:
                                            - startTime: '10:00'
                                              endTime: '17:30'
                                        maxCallDuration: 200
                                        concurrentCallCount: 5
                                        retryProtocol:
                                            maxAttemptsNoPickup: 2
                                            maxAttemptsLowEngagement: 1
                                            reAttemptPeriod: 300
                                            maxRescheduleCount: 1
                                    analysisPlan:
                                        successCriteriaPlan: "You are a professional order intent evaluator. Analyze the call recording and return true ONLY when ALL these conditions are met:\n1) Customer explicitly confirms they want to place/proceed with the order (e.g., \"yes, place it\", \"confirm the order\", \"go ahead\")\n2) Total price/amount was clearly discussed AND customer explicitly agreed to it\n3) Customer selects or confirms payment method (COD or prepaid)\n\nReturn false if:\n- Customer is \"just inquiring\", \"checking\", \"thinking about it\", or \"will let you know\"\n- Price not mentioned, customer objects to price, or asks for more discount after final price\n- Customer says \"already ordered\", \"will order online myself\", or \"order later\"\n- Call disconnected before explicit order confirmation\n- Intent is ambiguous or customer gives vague responses\n\nNote: Address validation is handled separately. If customer confirms order intent without mentioning address, they may be using an address already in context.\n\nWhen in doubt, return false."
                                        summaryPlan: 'Provide a concise summary of the conversation, customer objections, and the outcome'
                                        callInsightPlan: *abandonedCartCallInsightPlan
                                    knowledgeBase:
                                        documents:
                                            - url: 'https://example.com/product-catalog.pdf'
                                              title: 'Product Catalog'
                                              type: pdf
                                        faq:
                                            - question: 'What is your return policy?'
                                              answer: 'We offer a 7-day return policy for unused items.'
                                    archivedAt: null
                                    createdAt: '2026-03-02T12:04:43.086Z'
                                    timezone: UTC
                '404':
                    description: Assistant not found

    /v1/admin/assistant/list:
        get:
            summary: List AI Assistants
            operationId: adminListAssistants
            description: >
                Returns all assistants in the current workspace. Each item carries the **same
                payload** as the get-by-id endpoint (`GET /v1/admin/assistant/get/{assistantId}`),
                so no field selection is needed. Takes no query parameters or request body.
            tags:
                - Assistant
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
                - $ref: '#/components/parameters/WorkspaceHeader'
            responses:
                '200':
                    description: Assistants fetched successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        example: Assistants fetched successfully
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/AssistantDetailResponse'

    /v1/admin/assistant/create:
        post:
            summary: Create AI Assistant
            operationId: adminCreateAssistant
            description: >
                Creates a new AI assistant with the specified configuration.
                The `variant.type` determines the assistant's behavior and the required `variant.config` structure.


                **Variants**


                - `abandoned_cart` — a ready-made flow; provide `variant.config.abandoned_cart` (e.g. payment plan).
                  The system prompt is generated from the variant template, so `agent.systemPrompt` can be left empty.

                - `cod_to_prepaid` — converts Shopify COD orders to prepaid. Provide
                  `variant.config.cod_to_prepaid.paymentLinkValidity`, `codFee`, and `supportContacts`.

                - `address_verification` — verifies or collects Shopify shipping addresses. Provide
                  `variant.config.address_verification.minDays`, `maxDays`, and `supportContacts`.

                - `order_confirmation` — confirms Shopify orders before fulfillment. Optional config:
                  `variant.config.order_confirmation.supportContacts`.

                - `ndr_followup` — follows up on failed delivery / NDR events. Optional config:
                  `variant.config.ndr_followup.maxRescheduleDays`, `webhookToken`, and `supportContacts`.

                - `custom` — you fully author the behavior. Put your prompt in `agent.systemPrompt` and declare any
                  dynamic variables in `variant.config.inputSchema`.

                For preset variants, leave `agent.systemPrompt` empty and pass the required per-call data in
                `payload` when initiating the call.


                **Using variables in `agent.systemPrompt` (custom variant)**


                Reference a variable with the `{{variableName}}` placeholder syntax; nested values use dot-paths,
                e.g. `{{customer.firstName}}`. Each variable you reference should be declared in
                `variant.config.inputSchema` (name + type, mark `isRequired: true` when mandatory). The actual values
                are supplied **per call** through the `variableValues` object when you initiate the call — at that point
                every `{{placeholder}}` is substituted with the matching value. Any placeholder with no matching value
                is left untouched in the prompt.
            tags:
                - Assistant
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
                - $ref: '#/components/parameters/WorkspaceHeader'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AdminAssistantRequest'
                        examples:
                            custom:
                                summary: Custom assistant (recommended)
                                description: >
                                    `variant.type` is `custom` — use this for any use case you define.
                                    Variables referenced in `agent.systemPrompt` (e.g. `{{customerName}}`, `{{orderId}}`)
                                    are declared in `variant.config.inputSchema` and supplied per call via `variableValues`
                                    when initiating the call.
                                value:
                                    name: 'Order Update Assistant'
                                    variant:
                                        type: custom
                                        config:
                                            inputSchema:
                                                - name: customerName
                                                  type: string
                                                  isRequired: true
                                                - name: orderId
                                                  type: string
                                                  isRequired: true
                                                - name: deliveryDate
                                                  type: string
                                                  isRequired: false
                                                - name: token
                                                  type: string
                                                  isRequired: false
                                    agent:
                                        identity:
                                            name: priya
                                            gender: female
                                            voice: priya
                                        systemPrompt: 'You are Priya, a friendly support agent for Acme. Greet the customer: Hello {{customerName}}! You are calling about order {{orderId}}. If a delivery date is available, mention it: your order is expected on {{deliveryDate}}. Confirm the details and answer any questions politely. When asked about policies or products, search the knowledge base first.'
                                        tools:
                                            - '6710a1b2c3d4e5f600000020'
                                    telephony:
                                        inbound: '6700a1b2c3d4e5f600000111'
                                        outbound: '6700a1b2c3d4e5f600000222'
                                    preCall:
                                        apiPlan:
                                            method: post
                                            url: 'https://crm.acme.com/api/voice/lookup'
                                            headers:
                                                Authorization: 'Bearer {{variableValues.token}}'
                                            body:
                                                orderId: '{{variableValues.orderId}}'
                                                phone: '{{number}}'
                                    icpContext:
                                        language: english
                                    callSettings:
                                        slots:
                                            - startTime: '09:00'
                                              endTime: '18:00'
                                        maxCallDuration: 300
                                        concurrentCallCount: 5
                                        retryProtocol:
                                            maxAttemptsNoPickup: 2
                                            maxAttemptsLowEngagement: 1
                                            reAttemptPeriod: 300
                                            maxRescheduleCount: 1
                                    analysisPlan:
                                        successCriteriaPlan: 'Return true ONLY if the customer confirmed receipt of order details and had no unresolved concerns. Return false if they were confused, had complaints, or the call ended without confirmation.'
                                        summaryPlan: 'Summarize the order details discussed, any questions the customer asked, and the final outcome of the call.'
                                    knowledgeBase:
                                        documents:
                                            - url: 'https://storage.miraiminds.co/kb/acme-product-catalog.pdf'
                                              title: 'Product Catalog'
                                              type: pdf
                                        faq:
                                            - question: 'What is your return policy?'
                                              answer: 'We offer a 7-day return policy for unused items in original packaging.'
                            abandonedCart:
                                summary: Abandoned-cart assistant (Shopify)
                                description: >
                                    For `variant.type: abandoned_cart`. The system prompt is auto-generated
                                    from the variant template — leave `agent.systemPrompt` empty.
                                value:
                                    name: 'My Abandoned Cart Assistant'
                                    variant:
                                        type: abandoned_cart
                                        config:
                                            abandoned_cart:
                                                paymentPlan:
                                                    mode: online
                                    agent:
                                        identity:
                                            name: neha
                                            gender: female
                                            voice: neha
                                        systemPrompt: ''
                                    telephony:
                                        inbound: '6700a1b2c3d4e5f600000111'
                                        outbound: '6700a1b2c3d4e5f600000222'
                                    icpContext:
                                        targetAgeGroups: [millennials]
                                        locationTiers: [metro_urban]
                                        language: english
                                        targetAudience: [female]
                                    callSettings:
                                        slots:
                                            - startTime: '10:00'
                                              endTime: '17:30'
                                        maxCallDuration: 200
                                        concurrentCallCount: 5
                                        retryProtocol:
                                            maxAttemptsNoPickup: 2
                                            maxAttemptsLowEngagement: 1
                                            reAttemptPeriod: 300
                                            maxRescheduleCount: 1
                                    analysisPlan:
                                        successCriteriaPlan: 'Return true only when the customer explicitly confirms the order, agrees to the price, and selects a payment method; otherwise return false.'
                                        summaryPlan: 'Provide a concise summary of the conversation, customer objections, and the outcome'
                                    knowledgeBase:
                                        documents:
                                            - url: 'https://example.com/product-catalog.pdf'
                                              title: 'Product Catalog'
                                              type: pdf
                                        faq:
                                            - question: 'What is your return policy?'
                                              answer: 'We offer a 7-day return policy for unused items.'
                            codToPrepaid:
                                summary: COD-to-prepaid assistant (Shopify)
                                description: >
                                    For `variant.type: cod_to_prepaid`. The system prompt is auto-generated
                                    from the variant template — leave `agent.systemPrompt` empty.
                                value:
                                    name: 'COD to Prepaid Assistant'
                                    variant:
                                        type: cod_to_prepaid
                                        config:
                                            cod_to_prepaid:
                                                paymentLinkValidity: 30
                                                codFee: 50
                                                supportContacts:
                                                    phoneNumber: '+919876543210'
                                                    email: 'support@example.com'
                                    agent:
                                        identity:
                                            name: neha
                                            gender: female
                                            voice: neha
                                        systemPrompt: ''
                            addressVerification:
                                summary: Address-verification assistant (Shopify)
                                description: >
                                    For `variant.type: address_verification`. The system prompt is auto-generated
                                    from the variant template — leave `agent.systemPrompt` empty.
                                value:
                                    name: 'Address Verification Assistant'
                                    variant:
                                        type: address_verification
                                        config:
                                            address_verification:
                                                minDays: 3
                                                maxDays: 5
                                                supportContacts:
                                                    phoneNumber: '+919876543210'
                                                    email: 'support@example.com'
                                    agent:
                                        identity:
                                            name: neha
                                            gender: female
                                            voice: neha
                                        systemPrompt: ''
                            orderConfirmation:
                                summary: Order-confirmation assistant (Shopify)
                                description: >
                                    For `variant.type: order_confirmation`. The system prompt is auto-generated
                                    from the variant template — leave `agent.systemPrompt` empty.
                                value:
                                    name: 'Order Confirmation Assistant'
                                    variant:
                                        type: order_confirmation
                                        config:
                                            order_confirmation:
                                                supportContacts:
                                                    phoneNumber: '+919876543210'
                                                    email: 'support@example.com'
                                    agent:
                                        identity:
                                            name: neha
                                            gender: female
                                            voice: neha
                                        systemPrompt: ''
                            ndrFollowup:
                                summary: NDR follow-up assistant
                                description: >
                                    For `variant.type: ndr_followup`. The system prompt is auto-generated
                                    from the variant template — leave `agent.systemPrompt` empty.
                                value:
                                    name: 'NDR Follow-up Assistant'
                                    variant:
                                        type: ndr_followup
                                        config:
                                            ndr_followup:
                                                maxRescheduleDays: 3
                                                webhookToken: 'shiprocket-secret'
                                                supportContacts:
                                                    phoneNumber: '+919876543210'
                                                    email: 'support@example.com'
                                    agent:
                                        identity:
                                            name: neha
                                            gender: female
                                            voice: neha
                                        systemPrompt: ''
            responses:
                '200':
                    description: Assistant Created
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        example: Assistant created successfully
                                    data:
                                        type: object
                                        properties:
                                            assistantId:
                                                type: string
                '400':
                    description: Validation Error
                '409':
                    description: Assistant with this name already exists

    /v1/admin/assistant/update/{assistantId}:
        put:
            summary: Update AI Assistant
            operationId: adminUpdateAssistant
            description: >
                Updates an existing assistant's configuration. All fields are optional — only the provided fields will be updated.
                The variant type cannot be changed. Any active campaigns for this assistant will be briefly paused and resumed during the update.
            tags:
                - Assistant
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
                - $ref: '#/components/parameters/WorkspaceHeader'
                - name: assistantId
                  in: path
                  required: true
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AdminAssistantUpdateRequest'
                        example:
                            name: 'My Abandoned Cart Assistant'
                            variant:
                                config:
                                    abandoned_cart:
                                        paymentPlan:
                                            mode: online
                            agent:
                                identity:
                                    name: neha
                                    gender: female
                                    voice: neha
                                systemPrompt: ''
                                tools: ['6710a1b2c3d4e5f600000020']
                            telephony:
                                inbound: '6700a1b2c3d4e5f600000111'
                                outbound: '6700a1b2c3d4e5f600000222'
                            preCall:
                                apiPlan:
                                    method: post
                                    url: 'https://crm.acme.com/api/voice/lookup'
                                    headers:
                                        Authorization: 'Bearer {{variableValues.token}}'
                                    body:
                                        orderId: '{{variableValues.orderId}}'
                                        phone: '{{number}}'
                            icpContext:
                                targetAgeGroups: [millennials]
                                locationTiers: [metro_urban]
                                language: english
                                targetAudience: [female]
                            callSettings:
                                slots:
                                    - startTime: '10:00'
                                      endTime: '17:30'
                                maxCallDuration: 200
                                concurrentCallCount: 5
                                retryProtocol:
                                    maxAttemptsNoPickup: 2
                                    maxAttemptsLowEngagement: 1
                                    reAttemptPeriod: 300
                                    maxRescheduleCount: 1
                            analysisPlan:
                                successCriteriaPlan: "You are a professional order intent evaluator. Analyze the call recording and return true ONLY when ALL these conditions are met:\n1) Customer explicitly confirms they want to place/proceed with the order (e.g., \"yes, place it\", \"confirm the order\", \"go ahead\")\n2) Total price/amount was clearly discussed AND customer explicitly agreed to it\n3) Customer selects or confirms payment method (COD or prepaid)\n\nReturn false if:\n- Customer is \"just inquiring\", \"checking\", \"thinking about it\", or \"will let you know\"\n- Price not mentioned, customer objects to price, or asks for more discount after final price\n- Customer says \"already ordered\", \"will order online myself\", or \"order later\"\n- Call disconnected before explicit order confirmation\n- Intent is ambiguous or customer gives vague responses\n\nNote: Address validation is handled separately. If customer confirms order intent without mentioning address, they may be using an address already in context.\n\nWhen in doubt, return false."
                                summaryPlan: 'Provide a concise summary of the conversation, customer objections, and the outcome'
                            knowledgeBase:
                                documents:
                                    - url: 'https://example.com/product-catalog.pdf'
                                      title: 'Product Catalog'
                                      type: pdf
                                faq:
                                    - question: 'What is your return policy?'
                                      answer: 'We offer a 7-day return policy for unused items.'
            responses:
                '200':
                    description: Assistant Updated
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    assistantId:
                                        type: string
                '400':
                    description: Assistant is archived and cannot be updated
                '404':
                    description: Assistant not found
                '409':
                    description: Assistant with this name already exists

    /v1/number-pool/search:
        get:
            summary: Search available phone numbers
            operationId: searchAvailableNumbers
            description: >
                Returns a list of phone numbers available to purchase from the configured
                telephony provider, filtered by country and (optionally) a matching pattern.
            tags:
                - Telephony
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
                - $ref: '#/components/parameters/OrganizationHeader'
                - name: countryCode
                  in: query
                  required: true
                  description: '2-letter ISO country code (case-insensitive).'
                  schema:
                      type: string
                      minLength: 2
                      maxLength: 2
                      example: IN
                - name: numberType
                  in: query
                  required: false
                  schema:
                      type: string
                      enum: [local]
                      example: local
                - name: pattern
                  in: query
                  required: false
                  description: 'Optional digit/letter pattern to match within available numbers.'
                  schema:
                      type: string
                      example: '415'
                - name: limit
                  in: query
                  required: false
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 50
                      default: 20
                - name: provider
                  in: query
                  required: false
                  schema:
                      type: string
                      default: miraiminds
                      example: miraiminds
            responses:
                '200':
                    description: Available numbers fetched successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        example: Available numbers fetched successfully
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/AvailableNumber'
                            example:
                                message: Available numbers fetched successfully
                                data:
                                    - number: '+918155550101'
                                      countryCode: IN
                                      numberType: local
                                      monthlyRateCents: 100
                                      setupFeeCents: 0
                                    - number: '+918155550102'
                                      countryCode: IN
                                      numberType: local
                                      monthlyRateCents: 100
                                      setupFeeCents: 0
                '400':
                    description: Validation Error

    /v1/number-pool/purchase:
        post:
            summary: Purchase an available phone number
            operationId: purchaseNumber
            description: >
                Purchases a phone number for the organization from the telephony provider.
                The organization is charged the setup fee and recurring monthly rate; a
                `402` is returned if the organization has insufficient credit balance.
            tags:
                - Telephony
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
                - $ref: '#/components/parameters/OrganizationHeader'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/PurchaseNumberRequest'
                        example:
                            number: '+918155550101'
                            provider: miraiminds
                            countryCode: IN
                            numberType: local
            responses:
                '201':
                    description: Phone number purchased successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        example: Phone number purchased successfully
                                    data:
                                        $ref: '#/components/schemas/TelephonyNumber'
                            example:
                                message: Phone number purchased successfully
                                data:
                                    _id: '6700a1b2c3d4e5f600000222'
                                    number: '+918155550101'
                                    provider: miraiminds
                                    organization: '6690a1b2c3d4e5f600000001'
                                    workspace: null
                                    status: active
                                    providerNumberId: '6700a1b2c3d4e5f600000290'
                                    monthlyRateCents: 100
                                    setupFeeCents: 0
                                    countryCode: IN
                                    numberType: local
                                    createdAt: '2026-06-17T10:00:00.000Z'
                                    updatedAt: '2026-06-17T10:00:00.000Z'
                '400':
                    description: Validation Error
                '402':
                    description: Insufficient credit balance to purchase this number
                '404':
                    description: Organization not found

    /v1/number-pool/{telephonyNumberId}:
        delete:
            summary: Release a purchased phone number
            operationId: releaseNumber
            description: >
                Releases a previously purchased phone number back to the provider and marks
                the record as `released`. Recurring billing for the number stops.
            tags:
                - Telephony
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
                - $ref: '#/components/parameters/OrganizationHeader'
                - name: telephonyNumberId
                  in: path
                  required: true
                  description: 'ObjectId of the telephony number record to release.'
                  schema:
                      type: string
                      example: '6700a1b2c3d4e5f600000222'
            responses:
                '200':
                    description: Phone number released successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        example: Phone number released successfully
                                    data:
                                        $ref: '#/components/schemas/TelephonyNumber'
                            example:
                                message: Phone number released successfully
                                data:
                                    _id: '6700a1b2c3d4e5f600000222'
                                    number: '+918155550101'
                                    provider: miraiminds
                                    organization: '6690a1b2c3d4e5f600000001'
                                    workspace: null
                                    status: released
                                    providerNumberId: '6700a1b2c3d4e5f600000290'
                                    monthlyRateCents: 100
                                    setupFeeCents: 0
                                    countryCode: IN
                                    numberType: local
                                    createdAt: '2026-06-17T10:00:00.000Z'
                                    updatedAt: '2026-06-17T11:00:00.000Z'
                '404':
                    description: Phone number not found for this organization
                '409':
                    description: Phone number is already released

    /v1/admin/tool/api:
        get:
            summary: List workspace API tools
            operationId: listApiTools
            description: 'Lists all user-defined API tools owned by the current workspace.'
            tags:
                - Tools
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
                - $ref: '#/components/parameters/WorkspaceHeader'
            responses:
                '200':
                    description: API tools retrieved successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        example: API tools retrieved successfully.
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/ApiTool'
        post:
            summary: Create an API tool
            operationId: createApiTool
            description: >
                Creates a user-defined API tool the assistant can call. The `name` must be
                unique within the workspace (a slug is auto-generated from it).
            tags:
                - Tools
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
                - $ref: '#/components/parameters/WorkspaceHeader'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateApiToolRequest'
                        example:
                            name: Check Order Status
                            description: 'Look up the current status of a customer order by its ID.'
                            url: 'https://api.example.com/orders/status'
                            method: post
                            headers:
                                - key: Authorization
                                  value: 'Bearer <token>'
                            parameters:
                                required: [orderId]
                                properties:
                                    - name: orderId
                                      description: 'The order identifier to look up.'
                                      type: string
                            isActive: true
            responses:
                '201':
                    description: API tool created successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        example: API tool created successfully.
                                    data:
                                        $ref: '#/components/schemas/ApiTool'
                '400':
                    description: Validation Error
                '409':
                    description: An API tool with a similar name already exists in this workspace

    /v1/admin/tool/api/{toolId}:
        put:
            summary: Update an API tool
            operationId: updateApiTool
            description: 'Updates an existing API tool. All fields are optional — only provided fields are updated.'
            tags:
                - Tools
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
                - $ref: '#/components/parameters/WorkspaceHeader'
                - name: toolId
                  in: path
                  required: true
                  schema:
                      type: string
                      example: '6710a1b2c3d4e5f600000020'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateApiToolRequest'
                        example:
                            description: 'Updated description for when to use this tool.'
                            isActive: false
            responses:
                '200':
                    description: API tool updated successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        example: API tool updated successfully.
                                    data:
                                        $ref: '#/components/schemas/ApiTool'
                '400':
                    description: Validation Error
                '404':
                    description: API tool not found
                '409':
                    description: An API tool with a similar name already exists in this workspace
        delete:
            summary: Delete an API tool
            operationId: deleteApiTool
            description: 'Soft-deletes an API tool owned by the current workspace.'
            tags:
                - Tools
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
                - $ref: '#/components/parameters/WorkspaceHeader'
                - name: toolId
                  in: path
                  required: true
                  schema:
                      type: string
                      example: '6710a1b2c3d4e5f600000020'
            responses:
                '200':
                    description: API tool deleted successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        example: API tool deleted successfully.
                '404':
                    description: API tool not found

    # ----------------------------------------------------------------
    # KNOWLEDGE BASE UPLOAD API
    # ----------------------------------------------------------------

    /v1/knowledge-base/files:
        get:
            summary: List Knowledge Base Files
            operationId: listKnowledgeBaseFiles
            description: >
                Returns all uploaded knowledge base files for the current workspace.
                Use the returned file URL to set in `knowledgeBase.documents` on an assistant.
                Use the `collectionName` if manually configuring the RAG tool.
            tags:
                - Knowledge Base
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
                - $ref: '#/components/parameters/WorkspaceHeader'
            responses:
                '200':
                    description: Knowledge base files retrieved successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        example: 'Knowledge base files retrieved successfully.'
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/KnowledgeBaseFile'
                            example:
                                message: 'Knowledge base files retrieved successfully.'
                                data:
                                    - _id: '6701a1b2c3d4e5f600000050'
                                      fileName: 'product-catalog.pdf'
                                      collectionName: 'rag_acme_product_catalog_v1'
                                      type: 'application/pdf'
                                      size: 524288
                                      status: 'ready'
                                      processingPercentage: 100
                                      workspace: '6690a1b2c3d4e5f600000002'
                                      createdAt: '2026-06-30T10:00:00.000Z'

    /v1/knowledge-base/files/{knowledgeBaseId}:
        get:
            summary: Get Knowledge Base File
            operationId: getKnowledgeBaseFile
            description: >
                Returns a single knowledge base file by ID including its processing status.
                Poll this endpoint after completing an upload to check when `status` changes to `ready`.
                Once `ready`, add the file to `knowledgeBase.documents` on the assistant.
            tags:
                - Knowledge Base
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
                - $ref: '#/components/parameters/WorkspaceHeader'
                - name: knowledgeBaseId
                  in: path
                  required: true
                  schema:
                      type: string
                      example: '6701a1b2c3d4e5f600000050'
            responses:
                '200':
                    description: Knowledge base file retrieved successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        example: 'Knowledge base file retrieved successfully.'
                                    data:
                                        $ref: '#/components/schemas/KnowledgeBaseFile'
                            example:
                                message: 'Knowledge base file retrieved successfully.'
                                data:
                                    _id: '6701a1b2c3d4e5f600000050'
                                    fileName: 'product-catalog.pdf'
                                    collectionName: 'rag_acme_product_catalog_v1'
                                    type: 'application/pdf'
                                    size: 524288
                                    status: 'ready'
                                    processingPercentage: 100
                                    workspace: '6690a1b2c3d4e5f600000002'
                                    createdAt: '2026-06-30T10:00:00.000Z'
                '404':
                    description: Knowledge base file not found

    /v1/knowledge-base/upload/start:
        post:
            summary: Start Knowledge Base Upload Session
            operationId: startKnowledgeBaseUpload
            description: >
                Creates an upload session for a new knowledge base document.
                Returns a `sessionId` used for the subsequent chunk upload and complete calls.


                **Supported MIME types:** `application/pdf`, `text/plain`,
                `application/vnd.openxmlformats-officedocument.wordprocessingml.document`, `text/markdown`


                **Max file size:** 100 MB | **Max chunk size:** 10 MB
            tags:
                - Knowledge Base
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
                - $ref: '#/components/parameters/WorkspaceHeader'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/StartUploadSessionRequest'
                        example:
                            fileName: 'product-catalog.pdf'
                            totalChunks: 1
                            fileSize: 524288
                            mimeType: 'application/pdf'
            responses:
                '201':
                    description: Upload session created
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        example: 'Upload session created successfully.'
                                    sessionId:
                                        type: string
                                        example: 'sess_abc123xyz'
                            example:
                                message: 'Upload session created successfully.'
                                sessionId: 'sess_abc123xyz'
                '400':
                    description: File size exceeds 100 MB limit or MIME type not supported

    /v1/knowledge-base/upload/chunk/{sessionId}:
        post:
            summary: Upload Knowledge Base Chunk
            operationId: uploadKnowledgeBaseChunk
            description: >
                Uploads a single chunk of a file to an existing upload session.
                Send chunks sequentially starting from `chunkIndex: 0`.
                Use `multipart/form-data` with a `chunk` binary field and a `chunkIndex` form field.


                **Max chunk size:** 10 MB
            tags:
                - Knowledge Base
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
                - $ref: '#/components/parameters/WorkspaceHeader'
                - name: sessionId
                  in: path
                  required: true
                  schema:
                      type: string
                      example: 'sess_abc123xyz'
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            type: object
                            required:
                                - chunk
                                - chunkIndex
                            properties:
                                chunk:
                                    type: string
                                    format: binary
                                    description: 'The raw file chunk data'
                                chunkIndex:
                                    type: integer
                                    minimum: 0
                                    description: 'Zero-based index of this chunk (start at 0)'
                                    example: 0
            responses:
                '200':
                    description: Chunk uploaded successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        example: 'Chunk uploaded successfully.'
                '400':
                    description: Missing chunk file, negative chunkIndex, or chunk exceeds 10 MB
                '404':
                    description: Upload session not found

    /v1/knowledge-base/upload/complete/{sessionId}:
        post:
            summary: Complete Knowledge Base Upload
            operationId: completeKnowledgeBaseUpload
            description: >
                Finalises an upload session and triggers background processing (chunking, indexing, embedding).
                Returns a `knowledgeBaseId` you can use to poll status.


                Processing is asynchronous — poll `GET /v1/knowledge-base/files/{knowledgeBaseId}`
                until `status` is `ready`, then add the file URL to `knowledgeBase.documents` on your assistant.
            tags:
                - Knowledge Base
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
                - $ref: '#/components/parameters/WorkspaceHeader'
                - name: sessionId
                  in: path
                  required: true
                  schema:
                      type: string
                      example: 'sess_abc123xyz'
            responses:
                '200':
                    description: Upload completed, processing started
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CompleteUploadResponse'
                            example:
                                message: 'Upload completed. Processing has started in the background.'
                                sessionId: 'sess_abc123xyz'
                                knowledgeBaseId: '6701a1b2c3d4e5f600000050'
                                knowledgeBaseStatus: 'processing'
                '400':
                    description: Session not in `uploading` state, or already linked to a knowledge base
                '404':
                    description: Upload session not found

    /v1/knowledge-base/collection/{collectionName}:
        delete:
            summary: Delete Knowledge Base Collection
            operationId: deleteKnowledgeBaseCollection
            description: >
                Permanently deletes a knowledge base collection and all its indexed data.
                This action cannot be undone.


                The collection **cannot be deleted** if it is currently assigned to an assistant.
                Remove it from `knowledgeBase.documents` on the assistant first.
            tags:
                - Knowledge Base
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
                - $ref: '#/components/parameters/WorkspaceHeader'
                - name: collectionName
                  in: path
                  required: true
                  schema:
                      type: string
                      example: 'rag_acme_product_catalog_v1'
            responses:
                '200':
                    description: Collection deleted successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        example: "Collection 'rag_acme_product_catalog_v1' deleted successfully."
                '404':
                    description: Collection not found for this workspace
                '409':
                    description: Collection is in use by an assistant and cannot be deleted

    /v2/call/initiate:
        post:
            summary: Initiate AI Call
            operationId: initiateCall
            tags:
                - Call
            parameters:
                - $ref: '#/components/parameters/PublicKeyHeader'
                - $ref: '#/components/parameters/PrivateKeyHeader'
                - $ref: '#/components/parameters/WorkspaceHeader'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/InitiateCallRequest'
                        examples:
                            abandoned_cart:
                                summary: 'Example for abandoned_cart variant'
                                description: 'Use this example when the assistant variant is abandoned_cart'
                                value:
                                    phoneNumber: '+919876543210'
                                    assistant: 'assistant_123'
                                    callbackUrl: 'https://example.com/webhooks/call-events'
                                    payload:
                                        id: 'gid://shopify/AbandonedCheckout/66509168181329'
                                        abandonedCheckoutUrl: 'https://example-store.myshopify.com/checkouts/ac/abc123xyz/recover?key=sample_recovery_key&locale=en-IN'
                                        customer:
                                            firstName: 'John'
                                            lastName: 'Doe'
                                            email: null
                                            phone: '+919876543210'
                                        discountCodes: []
                                        totalLineItemsPriceSet:
                                            shopMoney:
                                                amount: '1895.0'
                                        totalDiscountSet:
                                            shopMoney:
                                                amount: '0.0'
                                        subtotalPriceSet:
                                            shopMoney:
                                                amount: '1895.0'
                                        totalPriceSet:
                                            shopMoney:
                                                amount: '1895.0'
                                        taxesIncluded: true
                                        taxLines:
                                            - rate: 0.05
                                              ratePercentage: 5
                                              source: null
                                              title: 'IGST'
                                              price: '90.24'
                                        lineItems:
                                            - title: 'Sample Product Name'
                                              quantity: 1
                                              variant:
                                                  id: 'gid://shopify/ProductVariant/58523289485393'
                                                  title: 'Default / Standard / Regular'
                                        billingAddress:
                                            country: 'India'
                                            phone: '+919876543211'
                                        shippingAddress:
                                            country: 'India'
                                            address1: '123 Sample Street, Sample Area'
                                            address2: 'Apt 4B'
                                            city: 'Delhi'
                                            province: 'DL'
                                            provinceCode: 'DL'
                                            zip: '110001'
[...]
